div{
  margin: 5%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
  text-align: center;
  width: 200px;
}

td:hover{
  transition-delay: 3s;
  box-shadow: -5px 5px 5px #888888;
}