doctype
html(lang="es")

  head
    title Practica HTML Avanzado
    
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1")
    
    link(rel="stylesheet", href="app.css")
  
  body
    #mapa.mapa.pantalla-completa
      iframe.g-map(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21743.07587722757!2d-93.09785878258964!3d16.75941391694315!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x59dbb7b0b5f9069a!2sUniversidad+Polit%C3%A9cnica+de+Chiapas!5e0!3m2!1ses-419!2smx!4v1457356200346")
      canvas#canvas.canvas(width="2000" height="2000")
  
    #presentacion.presentacion.pantalla-completa.centrado
      .texto.uno El día se está terminando ...
      
      .paisaje
        .rotacion
          .sol
          .luna
          
      .texto.dos ... y es tiempo de regresar a casa.
      
      button#mostrar-mapa.boton(type="button") ¿Cómo regresar?
      
    script(src="app.js")
